<div class="w-full h-screen pt-12 ">
  <div class="!mt-48">
    <div class="flex justify-center">
      <h1 class="ml16">
        T
      </h1>
      <h1 class="ml17">
        M
      </h1>
      <h1 class="ml18">
        T
      </h1>
    </div>
    <div class="loader">
      <div class="loading_1">
      </div>
    </div>
  </div>

  <!-- <h1 class="ml11 flex justify-center">
    <span class="text-wrapper">
      <span class="line line1"></span>
      <span class="letters">Chào mừng mọi người đến với TMT</span>
    </span>
  </h1> -->
</div>
