$particles: 60;
$width: 500;
$height: 400;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

.example::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  overflow: hidden;
  @include animation(
    (
      1s bang ease-out infinite backwards,
      1s gravity ease-in infinite backwards,
      5s position linear infinite backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
  color: white;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0em;
  overflow: hidden !important;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

// .title {
//   position: relative;
//   text-align: center;
//   transform: translateZ(0);
//   transform-style: preserve-3d;
// }

// .title .text {
//   font-family: sans-serif;
//   font-weight: 400;
//   font-size: calc(20vw / var(--word-total));
//   line-height: 1;
// }

// .title .write .word {
//   color: hsl(0, 0%, 80%);
//   text-shadow: 0 0 0.1em currentColor;
//   transform-style: preserve-3d;
//   animation: write linear both;
// }

// .title .laser {
//   position: absolute;
//   top: 0;
//   left: 0;
//   /* To avoid the blur getting masked by the clip-path we had to duplicate the element */
//   filter: blur(4px) contrast(10);
//   pointer-events: none;
// }

// .title .laser .word {
//   display: inline-block;
// }

// .title .laser .word {
//   color: hsl(0, 100%, 75%);
//   text-shadow: 0 0 0.1em currentColor;
//   transform: translateZ(5px);
//   animation: laser linear both;
// }

// .title .write .word,
// .title .laser .word {
//   animation-duration: 4s;
//   animation-delay: calc(0.3s + var(--word-index) * 160ms);
//   animation-iteration-count: infinite;
// }

// .title:hover .word,
// .title:hover .word {
//   animation-play-state: paused;
// }

// /* .title .text .word,
// .title .text .word::before {
//   animation-play-state: paused;
//   animation-delay: -0.4s;
// } */

// @keyframes write {
//   from,
//   30% {
//     clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%);
//   }
//   70%,
//   to {
//     clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%);
//   }
// }

// @keyframes laser {
//   from,
//   30% {
//     clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%);
//   }
//   70%,
//   to {
//     clip-path: polygon(115% 0%, 120% 0%, 120% 100%, 115% 100%);
//   }
// }
