  <body class="relative">
    <div class="!overflow-visible h-screen">
      <div class="pyro !overflow-hidden">
        <div class="before"></div>
        <div class="after"></div>
        <!-- <h1 class="ml6 flex justify-center pt-[13rem]">
          <span class="text-wrapper">
            <span class="letters">Chào mừng ngày thành lập công ty Trường Minh Thịnh</span>
          </span>
        </h1> -->
        <input id="input" type="text" maxlength="24" placeholder="Supreme" style="display: none;">
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </body>
