$circle: "circle";
$slide: "slide";
$images: (
  "/assets/6ca882d19c0c5852011d.jpg",
  "/assets/79a8e62ba9fc6da234ed.jpg",
  "/assets/4fb3b40cc5db018558ca.jpg",
  "/assets/76383c7a4ead8af3d3bc.jpg",
  "/assets/5aff01071fdadb8482cb.jpg"
);
$width: 90%;
$height: 90%;
// @import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: $width;
  height: $height;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  overflow: hidden;
  position: absolute;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 44px 5px rgba(0, 0, 0, 0.3);
}

svg {
  position: absolute;
  z-index: 1;
  width: $width;
  height: $height;
}

button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);

  &:focus {
    outline-width: 0;
  }
}

circle {
  stroke: #fff;
  fill: none;
  transition: 0.3s;
}

#svg1 {
  circle {
    transition-timing-function: linear;
  }
}

#svg2 {
  circle {
    transition-timing-function: linear;
  }
}

#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px);
}

#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px);
}

.right {
  margin-left: 1580px;
  margin-top: 416px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
  padding-left: 28px;
  width: 60px;
  height: 60px;
  &:hover {
    background-color: #fff;
  }
}

.left {
  margin-left: 0.5%;
  margin-top: 416px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
  padding-left: 28px;
  width: 60px;
  height: 60px;
  &:hover {
    background-color: #fff;
  }
}
@for $i from 1 through 18 {
  .#{$circle}#{$i} {
    transition-delay: ($i/30) + s;
  }
}
@for $i from 1 through 18 {
  .#{$circle}#{$i + 18} {
    transition-delay: ($i/36) + s;
  }
}
@each $image in $images {
  $j: index($images, $image);

  .#{$slide}#{$j} {
    background-image: url($image);
  }
}

.slider {
  position: absolute;
  width: 400%;
  height: 120%;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}

.slide1,
.slide2,
.slide3,
.slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 62px;
  padding-top: 80px;
  font-weight: 800;
  padding-right: 46rem;
  font-family: "Public Sans", sans-serif;
  width: 25%;
  height: 100%;
  z-index: 10;
  padding-left: 200px;
  transition: 1.4s;
}

.tran {
  transform: scale(1.3);
}

.up1 {
  z-index: 20;
  div {
    .show-h1 {
      opacity: 1;
      margin-top: 0 !important;
      transition-delay: 1000ms;
      transition: all 1500ms ease;
      transform: translate(0px, 0px);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0px;
      text-transform: uppercase;
    }
    .show-div {
      opacity: 1;
      margin-top: 24px !important;
      transition-delay: 1000ms;
      transition: all 1500ms ease;
      transform: translate(0px, 0px);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0px;
      font-weight: 400 !important;
      font-size: 1.125rem /* 18px */;
      line-height: 1.75rem /* 28px */;
    }
  }
}

.up2 {
  z-index: 40;
}

.steap {
  stroke-width: 0;
}

.streak {
  stroke-width: 128px;
}

@media (max-width: 700px) {
  .parent {
    margin-left: 1%;
  }
}
