<body class="w-full h-screen">
  <!-- <ng-container *ngIf="!blockParent">
    <h1 class="ml11 flex justify-center !pt-[13rem] ">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Chào mừng mọi người đến với TMT</span>
      </span>
    </h1>
  </ng-container> -->

  <div class="parent">
    <div class="slider">
      <button type="button" id="right" class="right" name="button">
        <svg class="ml-4" version="1.1" id="Capa_1" width="80px" height="80px " xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.175 477.175"
          style="enable-background: new 0 0 477.175 477.175" xml:space="preserve">
          <g>
            <path style="fill: #9d9d9d" d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
          c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z
          " />
          </g>
        </svg>
      </button>
      <button type="button" id="left" class="left" name="button">
        <svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background: new 0 0 477.175 477.175"
          xml:space="preserve">
          <g>
            <path style="fill: #9d9d9d" d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
          c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" />
          </g>
        </svg>
      </button>
      <svg id="svg2" class="up2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle id="circle1" class="circle1 steap" cx="66px" cy="49%" r="66" />
        <circle id="circle2" class="circle2 steap" cx="66px" cy="49%" r="120" />
        <circle id="circle3" class="circle3 steap" cx="66px" cy="49%" r="220" />
        <circle id="circle4" class="circle4 steap" cx="66px" cy="49%" r="320" />
        <circle id="circle5" class="circle5 steap" cx="66px" cy="49%" r="420" />
        <circle id="circle6" class="circle6 steap" cx="66px" cy="49%" r="520" />
        <circle id="circle7" class="circle7 steap" cx="66px" cy="49%" r="620" />
        <circle id="circle8" class="circle8 steap" cx="66px" cy="49%" r="720" />
        <circle id="circle9" class="circle9 steap" cx="66px" cy="49%" r="820" />
        <circle id="circle10" class="circle10 steap" cx="66px" cy="49%" r="920" />
        <circle id="circle11" class="circle11 steap" cx="66px" cy="49%" r="1020" />
        <circle id="circle12" class="circle12 steap" cx="66px" cy="49%" r="1120" />
        <circle id="circle13" class="circle13 steap" cx="66px" cy="49%" r="1220" />
        <circle id="circle14" class="circle14 steap" cx="66px" cy="49%" r="1320" />
        <circle id="circle15" class="circle15 steap" cx="66px" cy="49%" r="1420" />
        <circle id="circle16" class="circle16 steap" cx="66px" cy="49%" r="1520" />
        <circle id="circle17" class="circle17 steap" cx="66px" cy="49%" r="1620" />
        <circle id="circle18" class="circle18 steap" cx="66px" cy="49%" r="1720" />
      </svg>
      <svg id="svg1" class="up2 ml-[64rem]" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle id="circle19" class="circle19 steap" cx="1600px" cy="49%" r="66" />
        <circle id="circle20" class="circle20 steap" cx="1600px" cy="49%" r="120" />
        <circle id="circle21" class="circle21 steap" cx="1600px" cy="49%" r="220" />
        <circle id="circle22" class="circle22 steap" cx="1600px" cy="49%" r="320" />
        <circle id="circle23" class="circle23 steap" cx="1600px" cy="49%" r="420" />
        <circle id="circle24" class="circle24 steap" cx="1600px" cy="49%" r="520" />
        <circle id="circle25" class="circle25 steap" cx="1600px" cy="49%" r="620" />
        <circle id="circle26" class="circle26 steap" cx="1600px" cy="49%" r="720" />
        <circle id="circle27" class="circle27 steap" cx="1600px" cy="49%" r="820" />
        <circle id="circle28" class="circle28 steap" cx="1600px" cy="49%" r="920" />
        <circle id="circle29" class="circle29 steap" cx="1600px" cy="49%" r="1020" />
        <circle id="circle30" class="circle30 steap" cx="1600px" cy="49%" r="1120" />
        <circle id="circle31" class="circle31 steap" cx="1600px" cy="49%" r="1220" />
        <circle id="circle32" class="circle32 steap" cx="1600px" cy="49%" r="1320" />
        <circle id="circle33" class="circle33 steap" cx="1600px" cy="49%" r="1420" />
        <circle id="circle34" class="circle34 steap" cx="1600px" cy="49%" r="1520" />
        <circle id="circle35" class="circle35 steap" cx="1600px" cy="49%" r="1620" />
        <circle id="circle36" class="circle36 steap" cx="1600px" cy="49%" r="1720" />
      </svg>
      <div id="slide1" class="slide1 up1">
        <h1 class="!mb-6 uppercase">TRUNG THỰC</h1>
        <div class="text-lg !font-normal">
          TMT đặt yếu tố cốt lõi đầu tiên là sự trung thực. Trung thực trong
          công việc, trong hành động và suy nghĩ. Lấy sự trung thực làm vũ khí
          cạnh tranh và trung thực đảm bảo cam kết về chất lượng sản phẩm - dịch
          vụ cũng như tiến độ thực hiện.
        </div>
      </div>
      <div id="slide2" class="slide2">
        <h1 class="!mb-6 uppercase">Quyết Tâm</h1>
        <div class="text-lg !font-normal">
          TMT quyết tâm không ngừng nỗ lực, phấn đấu và cải tiến, hoàn thiện bản
          thân để mang đến những sản phẩm công nghệ chất lượng nhất, ưu việt
          nhất. TMT coi sự hài lòng của khách hàng là thước đo thành công, từ đó
          quyết tâm trong từng hạng mục, từng sản phẩm, đem đến chất lượng tốt
          nhất cho sản phẩm của mình.
        </div>
      </div>
      <div id="slide3" class="slide3">
        <h1 class="!mb-6 uppercase">Sáng Tạo</h1>
        <div class="text-lg !font-normal">
          TMT coi sự sáng tạo là đòn bẩy để phát triển nhằm tạo ra sự khác biệt trong từng sản phẩm. Đề cao tinh thần
          ham học hỏi, tìm tòi, sáng tạo và dám nghĩ dám làm, áp dụng công nghệ mới vào quá trình làm việc nhằm không
          ngừng nâng cao chất lượng sản phẩm - dịch vụ.
        </div>
      </div>
      <div id="slide4" class="slide4">
        <h1 class="!mb-6 uppercase">Linh Hoạt</h1>
        <div class="text-lg !font-normal">
          TMT đẩy mạnh việc đổi mới trong ý tưởng và kế hoạch phát triển linh hoạt với nhu cầu thị trường. Đồng thời
          cũng mềm dẻo trong các chiến lược theo sự thay đổi của hoàn cảnh kinh tế và giai đoạn phát triển của công ty
          để mang lại hiệu quả làm việc tốt nhất.
        </div>
      </div>
      <div id="slide5" class="slide5">
        <h1 class="!mb-6 uppercase">Đoàn Kết</h1>
        <div class="text-lg !font-normal">
          TMT coi trọng tinh thần đoàn kết giữa các cá nhân với nhau. Hỗ trợ, nâng đỡ và đoàn kết lẫn nhau vì lý tưởng
          chung để cùng xây dựng nên một hệ sinh thái bền vững, đầy tiềm năng và mang lại giá trị hữu ích cho xã hội,
          cho cộng đồng.
        </div>
      </div>
    </div>
  </div>
</body>
