.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
  left: 50%;
  top: 40%;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
  color: white;
}
