.container-out {
  background-color: #334;
  box-sizing: border-box;
  overflow: hidden;
}

section {
  transform-style: preserve-3d;
  perspective: 500px;
  display: flex;
  width: 100%;
  height: 100vh;
}

section h2 {
  line-height: 100vh;
  font-size: 40px;
  color: white;
  font-weight: 600;
  @apply relative w-full h-screen;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.banner .blocks {
  width: 100%;
  height: 100%;
  animation: animate 2s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes animate {
  0% {
    transform: translateZ(2000px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  100% {
    transform: translateZ(0);
    background: url(/assets/people-company.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}
